<tr>
	<td class="span1"><span id="add"><i class="icon-plus-sign icon-2x"></i></span></td>
	<td class="span1"><img src="{{thumb}}" alt="{{title}}"></td>
	<td class="span7">{{title}}</td>
	<td class="span1">{{author}}</td>
	<td class="span1">{{duration}}</td>
	<td class="span2">{{viewCount}} <i class="icon-eye-open"></i></td>
	<td class="span1">{{favCount}} <i class="icon-heart"></i></td>
</tr>