<tr>
<!-- 	<td><button id="inc" type="checkbox"></button></td>
	<td><button id="play"><i class="icon-play"></button></td>
 -->	<td><button id="add"><i class="icon-plus"></i></button></td>
	<td><img src="{{thumb}}" alt="{{title}}"></td>
	<td>{{title}}</td>
	<td>{{author}}</td>
	<td>{{duration}}</td>
	<td>{{viewCount}} <i class="icon-eye-open"></i></td>
	<td>{{favCount}} <i class="icon-heart"></i></td>
</tr>